footer {
    background-color: rgb(95, 95, 224);
    margin-top: 25px;
    min-height: 10vh;
    display: flex;
    justify-content: center;
}

.footer_nav {
    color: black;
    font-size: 1rem;
    margin:  auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

a {
    color: black;
    text-decoration: none; 
  }
  