table {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 10px;
}

tr {
    color: rgb(100, 103, 201); 
    border-radius: 5rem;
}

.content:hover{
    background-color: rgb(227, 226, 224);
}

img{
    width: 13rem;
    margin: .5rem;
}