table {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 10px;
}

tr {
    color: rgb(100, 103, 201); 
}

.content:hover{
    transition: .3s;
    background-color: rgb(231, 230, 229);
    box-shadow: 30px 22px 39px -15px rgba(155, 161, 231, 1);    transition: .3s;
}

img{
    width: 13rem;
    margin: .5rem;
}