.wrapper {
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    background-color: rgb(95, 95, 224);   

}

.logo {
    color: aliceblue;
    font-size: 5rem;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    
}